<!DOCTYPE html>
<html lang="en">
<head>
  <title>Image gallery</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <style>
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
  	height: 600px;
  	margin: auto;
  }
  .carousel-control.left, .carousel-control.right {
    background-image: none
  }
  </style>
</head>

{% load dbfile_extras %}

<body>

  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Image Gallery</a>
    </div>    
	<div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="{% url 'admin:index' %}">Admin</a></li>
	  </ul>
	</div>
  </div>
  </nav>


  <div class="container">
	{% if not images %}
	<div>
	  <h2>Nothing here yet.</h2>
	</div>
	{% else %}
	<div id="myCarousel" class="carousel slide container" data-ride="carousel">
	  <div class="carousel-inner" role="listbox">
	  {% for image in images %}
	  	{% dbfile_by_slug image.image.name as dbfile %}
	  	{% if dbfile %}
	  		<div class="item{% if forloop.first %} active {% endif %}">
			  <img src="data:{{ dbfile.mimetype }};base64, {{ dbfile.content }}" />
			</div>
		{% endif %}
	  {% endfor %}
	  </div>
	
	
	{% if images|length > 1 %}
	  <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
    {% endif %}

  </div>
	{% endif %}
	</div>
</body>
